.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
    gap: 20px;
    flex-wrap: wrap;
}

.pagination {
    display: flex;
    justify-content: center;
}

.totalCount {
    color: #666;
}